@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Cookie', cursive;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);

}

header {
    background-color: black;
    color: white;
    text-align: center;

    h1 {
        padding-top: 50px;
        font-variant: small-caps;
        font-family: var(--fonte2);
        font-size: 4em;
    }

    p {
        padding-bottom: 50px;
    }
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;

    &:hover {
        text-decoration: underline;
    }
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 1.5em;
    font-family: var(--fonte3);
    font-size: clamp(1.5em, 5vw, 3em);
    font-weight: lighter;

    &.normal {
        background-color: white;
        color: black;
    }

    &.imagem{
        background-color: rgba(0, 0, 0, 0.795);
        color: white;

        p {
            background-color: rgba(0, 0, 0, 0.26);
            display: inline-block;
            padding: 10px;
        }
    }
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}